* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}


body {
    width: 97vw;
    height: 98vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.face-container {
    height: 100vh;
    width: 27vw;
}

.imagem {
    width: 100%;
    height: 100%;
}

.conversation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 73vw;
    background-color: rgb(37, 37, 37);
}

.chat-container {
    width: 100%;
    background-color: rgb(37, 37, 37);
}

#message-container {
    height: 87%;
}

#type-container {
    display: flex;
    align-items: center;
    height: 13%;
    background-color: rgb(27, 27, 27);
}

input.text-container {
    width: 97%;
    margin-left: 20px;
    padding: 20px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
    color: white;
}

input.text-container:focus{
    outline: none;
}

span {
    color: rgb(231, 229, 229);
    margin-left: -35px;
    padding: 15px 0;
}

span:hover {
    cursor: pointer;
}

#message-container {
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.box-minha-mensagem {
    display: flex;
    justify-content: flex-end;
}

.box-resposta {
    display: flex;
    justify-content: flex-start;
}

.minha-mensagem {
    background-color: rgb(4, 184, 4);
    text-align: right;
    max-width: 35vw;
}

.mensagem-bot {
    background-color: rgb(119, 231, 119);
    text-align: justify;
    max-width: 40vw;
}

.minha-mensagem,
.mensagem-bot {
    border-radius: 10px;
    padding: 1rem;
    color: white;
    margin: 0;
    line-height: 1.3;
}